<!--

<div class="navbar navbar-fixed-left" style="background-color: #111e28;">
  <a class="navbar-brand" href="#/admin">Admin</a>
  <ul class="nav navbar-nav">


   <li><a href="#/city">City</a></li>
   <li><a href="#/showTimings">Show Timeings</a></li>
   <li><a href="#/theatre">Theatre</a></li>
   <li><a href="#/movies">Movies</a></li>
   <li><a href="#/assignMovies">Assingn Movies</a></li>

  </ul>
</div>

</div> -->
<!-- navbar  navbar-fixed-left navbar-light bg-faded
#e3f2fd -->
<div class="container">
<h1 class="admin"> Admin Controller. Authorised Access Only..!!</h1>
</div>
