<div class="container">

<div ng-repeat="j in movi">
<div class="well">
  <h3>{{j.moviTitle}}</h3>
  <br>
  <img ng-src="{{j.moviPoster}}" alt="POSTER"  width="250" height="350"  >
  <h4>Director - {{j.moviDirector}}</h4>
  <h4>Actor - {{j.moviActors}}</h4>
  <h4>Genre - {{j.moviGenre}}</h4>
  <h4>Language - {{j.moviLanguage}}</h4>

<br>
</div>
</div>


<!-- <div class="well">
  <div class="dcdD">
<div ng-app="movieApp" ng-controller="TheatreController as theChildController">
  <label>  City:- </label>
    <select id="dcity" class="dcity" ng-model="$scope.$parent.city">
    <option ng-repeat="a in theatreList  " value="{{a.city}}" >
      {{a.city}}
      </<option>
    </select>
  </div>


   &nbsp;&nbsp;&nbsp;
   <div class="Ddate">
         <label>  Date:- </label>

           <select id="dTheatre" class="dTheatre" ng-model="$parent.Date">
           <option ng-repeat="x in movDates"  value="{{x | date:'yyyy MM,dd'}}">
             {{x | date:'yyyy MM,dd'}}
             </<option>
           </select>
         </div>
         &nbsp;&nbsp;&nbsp;
       </div>
       </div>

{{theatre}}
{{city}}
{{Date}} -->
<!-- <div class="well ">
  <div class="DoM">

    <div ng-app="movieApp" data-ng-controller="AssignMoviesController as theChildController">
      <label>  Theatre:- </label>
        <select id="dTheatre" class="dTheatre" ng-model="theatre" >
        <option ng-repeat="b in asgnList | filter:$parent.qwerty.city " value="{{b.assignThr}}">
          {{b.assignThr}}
          </<option>
        </select>
      </div>
      &nbsp;&nbsp;&nbsp;

      <div ng-app="movieApp" data-ng-controller="AssignMoviesController as theChildController">

        <div class="DST">
           <label>  Timeings:- </label>&nbsp;
         <div ng-repeat="c in asgnList |filter:$parent.qwerty.Theatre" value="{{c.assignShowTime}}" ng-model="$parent.qwerty.time" >
          <a href="#/seats" >
             {{c.assignShowTime}}
           </a>
          </div>
        </div>

       </div>

     </div>
</div> -->

<div class="well">

<b>Select City :</b>
<select ng-model="city">
  <option ng-repeat="x in theatreDetails " value="{{x.city}}">{{x.city}}</option>
</select>
&nbsp;&nbsp;&nbsp;&nbsp;
 <b> Select Date </b>
 <select ng-model="date">
   <option ng-repeat="a in movDates">
     {{a| date: 'dd,MM yyyy'}}
   </option>
 </select>


 </div>

 <div class="well">
<table class="table table-inverse">
<tr>
  <th>Theatre</th>
  <th>Show Time</th>
</tr>

<tr ><td><select ng-model="Theatre">
    <option ng-repeat="m in theatreDetails  |filter: city" value="{{m.theatreName}}">
      {{m.theatreName}}
    </option>
    </select>
  </td>
  <td ><select ng-model="showtime" >
        <option ng-repeat="s in showtim | filter: Theatre " value="{{s.assignShowTime}}">
           {{s.assignShowTime}}
         </option>
         </td>

</tr>
</table>


 </div>


</div>



</div>


<center><a href="#/seats" ng-click="setShow()" class="button-color btn btn-primary" role="button">Proceed</a></center>
<br>
