
<div class="container">
    <center>
        <table class="table">
            <thead>
                <tr>
                    <th>Time ID</th>


                </tr>
            </thead>
            <tbody>
                <tr>

                    <td> <input ng-model="time.ShowTime" placeholder="hrs:mins" type="time" id="time">


                    <td><button ng-click="addTime(time)" class="btn btn-success">Add </button></td>

                    <td><button ng-click="updateTime(time)" class="btn btn-primary">Update</button></td>

                </tr>
                <tr ng-repeat=" time in timeList">
                    <td>{{time.ShowTime | date:'HH:mm a'}}</td>


                    <td><button ng-click="removeTime(time)" class="btn btn-danger">Remove</button></td>
                    <td><button ng-click="editTime(time)" class="btn btn-primary">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </center>
